*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #dfe2d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-cont{
    width: 400px;
    height: 400px;
    background-color: #8da291;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.same{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    padding: 10px;
}

.same input{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 13px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    margin: 5px 0;
}

.same input:focus{
    border: 1px solid #34434d;
    border-radius: 3px;
}

.box button{
    width: 100px;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 110px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.box button:hover{
    background-color: black;
    color: white;
}

/* print-input */
.data{
    width: 400px;
    height: 400px;
    background-color: #5d686e;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.print-input{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.print{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.print label{
    color: white;
}

.print p{
    width: 320px;
    height: 40px;
    border: 1px solid black;
    background-color: #bab8a9;
    border-radius: 4px;
    line-height: 40px;
    padding-left: 10px;
}

.print-input button{
    width: 100px;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #bab8a9;
}

.print-input button:hover{
    background-color: black;
    color: white;
}

.error{
    color: red;
    font-size: 13px;
    position: relative;
    left: 235px;
    top: -26px;
}
